/*   GENERAL    */
body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin:0;
	background-color: #921733;
}
/*   HOME PAGE   */
.button{
	margin:auto;
	padding:.75em;
	box-sizing: border-box;
	background-color: #e76583;
	border-radius:.5em;
	height: 3em;
	width:15em;
	cursor: pointer;
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.button:hover:not(.disabled){
	box-shadow: 0 2px 2px 0 #333;
}
.button:active:not(.disabled){
	background-color:#921733;
	color:white;
}
.button.small{
	width:5em;
}
.button.disabled{
	background-color:#ffe4cc;
	color:white;

}
.expander{
	transition: height .5s;
	overflow:hidden;
}
.expander.closed{
	height:0;
}
/*   LOGIN INFO    */
#login{
	text-align: center;
	position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
.input-wrapper{
	text-align:center;
	margin:1em 0;
}
#login .logo{
	width: 100%;
	padding: 5em 0 2em 0;
}
#login .logo img{
	display:block;
	margin:auto;
	max-width: 10em;
}
label{
	font-weight: bold;
}

/*   CHAT DESIGN   */
#main{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
.center{
	width:100vw;
	height:100vh;
	background-color: #fff9f5;
}
@media only screen and (min-width:1025px){
	.center{
		width:50vw;
		margin:auto;
		box-shadow: 0 0 4px 0px #333;
	}
}
@media only screen and (min-width:600px) and (max-width:1024px){
	body{
		font-size: 1.5em;
	}
}
@media only screen and (max-width:1024px){
	
}
.nav-m{
	background-color:#e76583;
	height:3em;
	position:sticky;
	top:0;
	display:table;
	width:100%;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	overflow: hidden;
	text-align: center;
}
.nav-m .option{
	box-sizing: border-box;
	display:inline-block;
	vertical-align: middle;
	padding:.75em 1em;
	height:3em;
	cursor: pointer;
}
.nav-m .option:hover{
	background-color:#d3214b;
	color:white;
}
#logo{
	width:3em;
	height:3em;
	margin:auto;
}
#logo img{
	max-width:2.7em;
	padding:5px 0;
}
.chat-container{
    top:0;
    left:0;
    height:inherit;
    position:relative;
	background-color: #fff1e5;
}
.chat-inputs{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height: 15%;
    background-color: #e76583;
    overflow:none;
}
#message{
    resize:none;
    height:100%!important;
    width:100%!important;
	box-sizing: border-box;
	display:block;
	padding: .3em .4em;
	font:inherit;
	border-radius:.5em;
	border:none;
	background-color: rgba(255, 255, 255, 0.979);
}
#send{
	font:inherit;
	width:100%;
	height:100%;
	display:block;
	background-color: #fffd;
	border-radius:.5em;
	border:none;
}
.messages-wrapper{
    width:100%;
    height:85%;
	box-sizing: border-box;
    overflow-y:auto;
}
.messages-scroll{
	box-sizing: border-box;
	padding:.5em;
    display:table;
    width:100%;
}
#messages-content{
    display: table-cell;
    vertical-align: bottom;
    height:100%;

}
.chat-wrapper{
    clear:both;
    width:100%;

}
.chat{
    width:80%;
    padding:.5em;
	margin:.25em;
	word-break: break-word;
}
#chat{
	height:100%;
}
.self{
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom-left-radius: .5em;
    float: right;
    background-color: lightskyblue
}
.other{
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
    float:left;
    background-color: lightgreen;
}
.chat-header{
    border-bottom:1px solid black;
    min-height:1.5em;
}
.chat-body{
    padding:.5em;
}
.status-update{
	text-align: center;
	font-style:italic;
	color: #333;
	padding:.2em 0;
}
.clear::after{
    clear:both;
}
.float-l{
    float:left;
}
.float-r{
    float:right;
}
.timestamp{
    font-style:italic;
}
.nickname{
    font-weight:bold;
}
.chat-ui{
    width:100%;
    height:100%;
    margin:0;
}
.chat-ui{
    text-align: center;
}
.chat-ui td{
	padding:3px;
	height:100%;
}
.nodisplay{
    display:none;
}