.main{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
.center{
    width:50vw;
    height:50vh;
    margin:auto;
}
.chat-container{
    top:0;
    left:0;
    height:inherit;
    position:relative;
	background-color: beige;
}
.chat-inputs{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    max-height: 30%;
    background-color: burlywood;
    overflow:none;
}
#message{
    resize:none;
    height:100%!important;
    width:100%!important;
    box-sizing: border-box;
}
.messages{
	overflow-y:scroll;
}
.chat-ui{
    width:100%;
    height:100%;
    margin:0;
}
.chat-ui{
    text-align: center;
}
.nodisplay{
    display:none;
}